<section class="w-full overflow-hidden absolute text-dark h-auto bg-gradient-to-bl from-primary to-second">
    <div class="pb-20 pt-36 px-6 lg:px-44">
        <div class="flex w-full justify-center dm-sans">
            <h3 class="poppins font-bold text-3xl text-light">Serviços</h3>
        </div>
    
        <div class="w-full h-auto flex flex-col gap-5 py-8 lg:py-16 lg:grid lg:grid-cols-2">
            <div class="flex flex-col dm-sans w-full justify-center items-center cursor-pointer"  (click)="openSobreVaga('recrutamentoESeleção')" data-aos="zoom-in-up">
                <div class="rounded-lg drop-shadow-md bg-dark bg-opacity-75 dm-sans h-72 w-full flex justify-center items-center p-8">
                    <h3 class="text-2xl poppins text-light text-center">Recrutamento e Seleção</h3>
                </div>
            </div>
            <div class="flex flex-col dm-sans w-full justify-center items-center cursor-pointer" (click)="openSobreVaga('avaliacaoDeCompetências')" data-aos="zoom-in-up">
                <div class="rounded-lg drop-shadow-md bg-dark bg-opacity-75 dm-sans h-72 w-full flex justify-center items-center p-8">
                    <h3 class="text-2xl poppins text-light text-center">Avaliação de Competências</h3>
                </div>
            </div>
            <div class="flex flex-col dm-sans w-full justify-center items-center cursor-pointer" (click)="openSobreVaga('desenvolvimentoDeCarreira')" data-aos="zoom-in-up">
                <div class="rounded-lg drop-shadow-md bg-dark bg-opacity-75 dm-sans h-72 w-full flex justify-center items-center p-8">
                    <h3 class="text-2xl poppins text-light text-center">Desenvolvimento de Carreira</h3>
                </div>
            </div>
            <div class="flex flex-col dm-sans w-full justify-center items-center cursor-pointer" (click)="openSobreVaga('treinamentoECapacitação')" data-aos="zoom-in-up">
                <div class="rounded-lg drop-shadow-md bg-dark bg-opacity-75 dm-sans h-72 w-full flex justify-center items-center p-8">
                    <h3 class="text-2xl poppins text-light text-center">Treinamento e Capacitação</h3>
                </div>
            </div>
        </div>
    </div>

    
    <app-footer></app-footer>
</section>

