<section class="w-full h-auto relative bg-base pb-10 py-20 px-6 lg:flex lg:px-32 lg:justify-between lg:items-center lg:py-48 border-b-2 border-primary">
    <div class="relative w-full h-80 mt-24 lg:mt-0 lg:w-full lg:h-full lg:flex lg:items-center">
        <div class="w-full h-60 relative lg:h-96 lg:w-full">
            <div class="w-full h-full bg-primary rounded absolute img-bg z-10 lg:left-8 lg:top-8 left-4 top-4 floating"></div>
            <div class="w-full h-full bg-second rounded absolute lg:-left-8 lg:-top-8 -left-4 -top-4 floating-reverse"></div>
        </div>
    </div>
    <div class="flex flex-col w-full dm-sans lg:pl-16 h-auto">
        <h3 class="poppins font-bold text-3xl text-dark">Sobre Nós</h3>
        <p class="pt-5">A Condado RH é uma empresa que otimiza processos e potencializa os resultados das empresas, alocando os melhores profissionais.</p>
        <p class="pt-5">Nossa prioridade é impactar positivamente o mercado de trabalho brasileiro.</p>
        <p class="pt-5">A Condado RH nasceu dos sonhos e objetivos profissionais de sócias fundadoras que tiveram larga experiência e histórias de sucessos nas empresas em que atuaram.</p>
        <p class="pt-5">Confiantes e acreditando que estavam prontas para lançar uma marca própria, criaram a Condado RH que, atualmente, é uma relevante opção em solução de recursos humanos com atuação presencial em Brasília e atendimento em todo o território nacional.</p>
        <p class="pt-5">O nosso propósito é potencializar os resultados das empresas alocando os melhores profissionais do mercado com ÉTICA, RESPEITO e QUALIDADE.</p>
    </div>
</section>

<section class="w-full h-auto relative pb-20 px-6 pt-20 lg:flex lg:px-32 lg:justify-between lg:py-48 gap-12">
    <section class="lg:w-1/2">
        <div class="w-full h-60 relative lg:h-96 lg:w-full lg:left-10 left-4">
            <div class="w-1/2 h-full bg-primary rounded absolute z-10 lg:left-8 lg:top-8 left-4 top-4 overflow-hidden">
                <img src="../../../assets/Juslene.jpeg" alt="">
            </div>
            <div class="w-1/2 h-full bg-second rounded absolute lg:-left-8 lg:-top-8 -left-4 -top-4"></div>
        </div>
        <div class="pt-10 lg:pt-16 dm-sans">
            <h3 class="poppins font-bold text-2xl pb-3 text-dark">Kamilla Ferreira</h3>
            <p class="pt-5">Kamilla Ferreira, 32 anos, mulher de muita fé, casada desde 2009 com RoniCard (sim, é o nome dele), mãe da Sofia que é meu orgulho.</p>
            <p class="pt-5">Crossfiteira, viciada em mandar memes e apaixonada pela vida. Linguagem do amor TEMPO DE QUALIDADE! Nascida e criada na Ceilândia, 18 da EXP com muito orgulho.</p>
            <p class="pt-5">Apaixonada pela área de humanas com mais de 10 anos de experiência nesse mundo que é o RH, iniciei no Departamento Pessoal e tive a oportunidade de assumir desafios como IT Recruiter, Coordenadora de Recrutamento e Seleção e Gerente de RH, Graduada em Recursos Humanos, Analista Comportamental e Certificada em Compliance pela KPMG, mais de 5.000 processos seletivos realizados, ninguém ouviu mais histórias que nós recrutadores e eu AMO isso!</p>
            <p class="pt-5">Espero poder contribuir a cada dia com algo de positivo para todos vocês, seja pessoal ou profissional.</p>
            <p class="pt-5">“O objetivo da vida não é ser feliz. É ser útil, honrado, compassivo, fazendo com que nossa vida, bem vivida, faça alguma diferença.“</p>
            <p>- Ralph Waldo Emerson</p>
        </div>
    </section>
    <section class="text-right pt-12 lg:pt-0 lg:w-1/2">
        <div class="w-full h-60 relative lg:h-96 lg:w-full lg:right-10 right-4">
            <div class="w-1/2 h-full bg-primary rounded absolute z-10 lg:right-8 lg:top-8 right-4 top-4 overflow-hidden">
                <img src="../../../assets/Juslene.jpeg" alt="">
            </div>
            <div class="w-1/2 h-full bg-second rounded absolute lg:-right-8 lg:-top-8 -right-4 -top-4"></div>
        </div>
        <div class="pt-10 lg:pt-16 dm-sans">
            <h3 class="poppins font-bold text-2xl pb-3 text-dark">Juslene Macedo</h3>
            <p class="pt-5">Juslene Macedo, mãe do Thiago e Alisson, esposa do Antonio Antunes meu parceiro da vida e avó coruja de 03 lindos netos. Linguagem do amor ATOS DE SERVIÇO, meu hobby é o “Custom Cake”.</p>
            <p class="pt-5">Gestora Comercial especializada no ramo do varejo com mais de 25 anos de experiência no mercado nacional, atuação com grandes marcas e franqueados como Puket, Bibi Calçados, Tip Top, UW totalizando 17 lojas.</p>
            <p class="pt-5">Focada em resultados, responsável por treinamentos e formação de equipes e lideranças.</p>
            <p class="pt-5">Vencedora do prêmio “Eu acredito 2017” onde como Líder fomos responsáveis pelo aumento de mais de 30% no faturamento de vendas. Atuação direta a frente do processo de desenvolvimento do planejamento financeiro e elaboração de planos para melhoria do desempenho econômico-financeiro das lojas.</p>
            <p class="pt-5">Meu intuito aqui é poder colaborar a cada dia para o seu desenvolvimento profissional e pessoal através da minha vivência no mundo corporativo te ajudando a alcançar a sua melhor versão.</p>
            <p class="pt-5">“O sucesso nasce do querer, da determinação e persistência em se chegar a um objetivo.”</p>
            <p>- José de Alencar</p>
        </div>
    </section>
</section>