<section class="w-full h-auto relative bg-purple-50 pb-20 py-20 px-6 lg:flex lg:px-32 lg:justify-between lg:items-center lg:py-48">
    <div class="relative w-full h-80 mt-24 lg:mt-0 lg:w-full lg:h-full lg:flex lg:items-center">
        <div class="w-full h-60 relative lg:h-96 lg:w-full">
            <div class="w-full h-full bg-primary rounded absolute img-bg z-10 lg:left-8 lg:top-8 left-4 top-4"></div>
            <div class="w-full h-full bg-second rounded absolute lg:-left-8 lg:-top-8 -left-4 -top-4"></div>
        </div>
    </div>
    <div class="flex flex-col w-full dm-sans lg:pl-16 h-auto">
        <h3 class="poppins font-bold text-3xl">Sobre Nós</h3>
        <p class="pt-5">A Condado RH é uma empresa que otimiza processos e potencializa os resultados das empresas, alocando os melhores profissionais.</p>
        <p class="pt-5">Nossa prioridade é impactar positivamente o mercado de trabalho brasileiro.</p>
        <p class="pt-5">A Condado RH nasceu dos sonhos e objetivos profissionais de sócias fundadoras que tiveram larga experiência e histórias de sucessos nas empresas em que atuaram.</p>
        <p class="pt-5">Confiantes e acreditando que estavam prontas para lançar uma marca própria, criaram a Condado RH que, atualmente, é uma relevante opção em solução de recursos humanos com atuação presencial em Brasília e atendimento em todo o território nacional.</p>
        <p class="pt-5">O nosso propósito é potencializar os resultados das empresas alocando os melhores profissionais do mercado com ÉTICA, RESPEITO e QUALIDADE.</p>
    </div>
</section>
