<h3 mat-dialog-title>Sobre a vaga:</h3>
<div mat-dialog-content class="dm-sans">
  <!-- <p>
    
    Na Skill Java do PicPay, você vai trabalhar com um time multidisciplinar e focado em entregar soluções altamente escaláveis e resilientes, que atendem milhões de usuários todos os dias.<br/>
<br/>
    Nossos princípios de engenharia incluem:<br/>
<br/>
    Microsserviços em Spring Boot;<br/>
    Ênfase no design usando princípios SOLID e aplicando Design Patterns;<br/>
    Desacoplamento entre aplicações, usando soluções de mensageria onde aplicável;<br/>
    Rodando o máximo possível em Kubernetes, com escalabilidade horizontal para suportar picos de usuários simultâneos;<br/>
    Integração contínua e deploy na AWS;<br/>
    Monitoramento e observabilidade contínuo e preventivo com New Relic, Prometheus e seus amigos;<br/>
    Armazenamento de dados em bancos SQL e NoSQL, como MongoDB e MySQL;<br/>
<br/>
    Responsabilidade e atribuições<br/>
<br/>
    Desenvolver soluções escaláveis e que irão ser utilizadas por milhões de usuários;<br/>
    Apresentar melhorias nos sistemas existentes e garantir a qualidade nas entregas;<br/>
    Ajudar e compartilhar sua experiência com os membros da equipe.<br/>
<br/>
    Requisitos e qualificações<br/>
    <br/>
    Programação Orientada a Objetos;<br/>
    Java 17;<br/>
    Spring Boot;<br/>
    Design de APIs REST;<br/>
    Bancos de Dados (SQL ou NoSQL);<br/>
    Compreensão e entendimento de arquitetura de microsserviços.<br/>

  </p> -->

  <p class="text-center">Sem Detalhes</p>

</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close >Fechar</button>
</div>
