<section class="w-full bg-base overflow-hidden relative pb-20 pt-36 px-6 lg:px-44 text-center">
    <div class="flex flex-col dm-sans h-96 justify-center items-center text-dark">
        <h3 class="poppins font-bold text-3xl pb-4 flex items-center gap-5">Bem-vindo<img src="../../../favicon.ico" alt="" class="w-7 h-7"></h3>
        <span class="dm-sans text-dark">
            Um link foi enviado no seu e-mail cadastrado. Por favor, verifique-o e faça o login.
        </span>
        <span class="dm-sans text-sm text-primary">
           Cheque a caixa de spam e a lixeira de seu email.
        </span>
    </div>
</section>
