<mat-drawer-container class="h-full" autosize>
  <header class="flex justify-between items-center w-full p-4 poppins border-b-2 fixed z-50 lg:px-44 drop-shadow-lg bg-white">
    <!-- <h1 class="text-2xl font-bold text-dark cursor-pointer flex items-center" routerLink="">
      Condado<span class="text-primary">RH</span>
    </h1> -->
    <img src="./assets/logo/logo_sug.svg" alt="logo Condado RH" class="h-10 cursor-pointer" routerLink="">
    <div class="lg:hidden">
      <button mat-icon-button color="primary" (click)="drawer.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="hidden lg:block">
      <div class="dm-sans flex gap-12">
        <button class="px-2 rounded" routerLink="home" routerLinkActive="active">Inicio</button>
        <button class="px-2 rounded" routerLink="sobre-nos" routerLinkActive="active">Sobre Nós</button>
        <button class="px-2 rounded" routerLink="vagas" routerLinkActive="active">Vagas</button>
        <!-- <button class="px-2 rounded" routerLink="clientes" routerLinkActive="active">Clientes</button> -->
        <button class="px-2 rounded" routerLink="servicos" routerLinkActive="active">Serviços</button>
      </div>
    </div>
    <div class="hidden lg:block">
      <div *ngIf="currentName == null" routerLink="/login" class="flex justify-center items-center dm-sans gap-4 text-gray-400 cursor-pointer">
        <span>Fazer login</span>
        <fa-icon  class="text-2xl" [icon]="faUserCircle"></fa-icon>
      </div>
      <div *ngIf="currentName !== null" 
            mat-button [matMenuTriggerFor]="beforeMenu" 
            class="flex justify-center items-center dm-sans gap-4 cursor-pointer">
        <span>{{primeiroNome + " " + resto[0]}}</span>
        <div class="w-8 h-8 rounded-full overflow-hidden">
          <img *ngIf="currentPhoto !== null && currentPhoto !== '' && currentPhoto !== 'null'" [src]="currentPhoto" alt="" class="w-full h-full">
          <div *ngIf="currentPhoto == null || currentPhoto == '' || currentPhoto == 'null'" class="w-full h-full bg-primary"></div>
        </div>
      </div>
      <mat-menu #beforeMenu="matMenu" 
                xPosition="before">
        <button routerLink="/upload-curriculo" class="w-full px-3 py-2 dm-sans text-sm">Atualizar Currículo</button>
        <button (click)="logout()" class="w-full font-medium text-red-500 px-3 py-2 flex gap-3 dm-sans text-sm">
          <span>LogOut</span> 
          <fa-icon [icon]="faRightFromBracket"></fa-icon>
        </button>
      </mat-menu>
    </div>
  </header>

  <router-outlet></router-outlet>

  <footer class="py-16 px-6 bg-primary flex flex-col lg:flex-row lg:justify-between lg:items-center lg:px-44 lg:py-8">
    <div>
      <!-- <h1 class="text-2xl font-bold text-dark poppins">
        Condado<span class="text-purple-50">RH</span>
      </h1> -->
      <img src="./assets/logo/logo_sug_negative.svg" alt="logo negativa Condado RH" class="h-10 cursor-pointer" routerLink="">
      <div class="flex flex-col text-purple-50 dm-sans pt-8 pb-8 lg:pb-0 gap-3">
        <span>©2023 Condado.</span>
        <span>Todos os direitos reservados.</span>
      </div>
    </div>
    <div class="flex gap-10">
      <a target="_blank" href="https://www.instagram.com/condadorh/"><fa-icon class="text-purple-50 text-2xl" [icon]="faInstagram"></fa-icon></a>
      <!-- <a target="_blank" href="https://pt-br.facebook.com/"><fa-icon class="text-purple-50 text-2xl" [icon]="faFacebook"></fa-icon></a> -->
      <a target="_blank" href="https://www.linkedin.com/company/condado-rh/"><fa-icon class="text-purple-50 text-2xl" [icon]="faLinkedinIn"></fa-icon></a>
    </div>
  </footer>



  <mat-drawer #drawer mode="over" position="end">
    <div class="flex flex-col justify-center items-center dm-sans p-16 gap-16 text-lg text-center">
      <button (click)="drawer.toggle()" routerLinkActive="active" routerLink="home">Inicio</button>
      <button (click)="drawer.toggle()" routerLinkActive="active" routerLink="sobre-nos">Sobre Nós</button>
      <button (click)="drawer.toggle()" routerLinkActive="active" routerLink="vagas">Vagas</button>
      <!-- <button (click)="drawer.toggle()" routerLinkActive="active" routerLink="clientes">Clientes</button> -->
      <button (click)="drawer.toggle()" routerLinkActive="active" routerLink="servicos">Serviços</button>
    </div>
    <div *ngIf="currentName == null" (click)="drawer.toggle()" routerLink="/login" class="w-full flex justify-center items-center absolute bottom-10 dm-sans text-lg gap-5 text-gray-400 cursor-pointer">
      <fa-icon  class="text-2xl" [icon]="faUserCircle"></fa-icon><span>Fazer login</span>
    </div>
    <div *ngIf="currentName !== null" 
          mat-button [matMenuTriggerFor]="beforeMenu"
          class="w-full flex justify-center items-center absolute bottom-10 dm-sans text-lg gap-3 text-gray-400 cursor-pointer">
      <div class="w-8 h-8 rounded-full bg-primary overflow-hidden text-lg">
        <img  *ngIf="currentPhoto !== null && currentPhoto !== '' && currentPhoto !== 'null'" 
              [src]="currentPhoto" 
              alt="" 
              class="w-full h-full"
        >
        <div  *ngIf="currentPhoto == null || currentPhoto == '' || currentPhoto == 'null'" 
              class="w-full h-full bg-primary">
        </div>
      </div>
      <span>{{primeiroNome + " " + resto[0]}}</span>
    </div>
    <mat-menu #beforeMenu="matMenu" 
              xPosition="before"
              class="dm-sans">
      <button (click)="drawer.toggle()" routerLink="/upload-curriculo" class="w-full py-3">Atualizar Currículo</button>
      <button (click)="drawer.toggle()" (click)="logout()" class="w-full font-medium text-red-600 py-3 flex gap-3">
        LogOut 
        <fa-icon [icon]="faRightFromBracket"></fa-icon>
      </button>
    </mat-menu>
  </mat-drawer>

</mat-drawer-container>