<section class="w-full overflow-hidden relative pb-20 pt-36 px-6 lg:px-44">
    <div class="flex flex-col dm-sans">
        <h3 class="poppins font-bold text-3xl pb-4">Cadastro</h3>
        <span class="pb-8 dm-sans">
            Preencha o formulário.
        </span>
    </div>

    <form class="lg:grid lg:grid-cols-2 lg:gap-x-10" [formGroup]="formulario">

        <!-- <mat-form-field appearance="fill" class="w-full">
            <mat-label>Tipo de vaga</mat-label>
            <mat-select>
                <mat-option *ngFor="let vaga of vagas" [value]="vaga.value">
                {{vaga.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="fill" class="w-full">
            <mat-label>Área de interesse</mat-label>
            <mat-select>
                <mat-option *ngFor="let vaga of vagas" [value]="vaga.value">
                {{vaga.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="fill" class="w-full">
            <mat-label>Cargo</mat-label>
            <mat-select>
                <mat-option *ngFor="let vaga of vagas" [value]="vaga.value">
                {{vaga.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="fill" class="w-full">
            <mat-label>Sexo</mat-label>
            <mat-select>
                <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                {{sexo.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        
        <!-- <mat-form-field class="w-full">
            <mat-label>CPF</mat-label>
            <input matInput>
        </mat-form-field> -->

        <!-- <mat-form-field class="w-full">
            <mat-label>Orgão emissor</mat-label>
            <input matInput>
        </mat-form-field> -->
        
        <!-- <mat-form-field class="w-full">
            <mat-label>Nome da Mãe</mat-label>
            <input matInput>
        </mat-form-field> -->
        
        <!-- <mat-form-field class="w-full">
            <mat-label>Nome do Pai</mat-label>
            <input matInput>
        </mat-form-field> -->
 
        <!-- <mat-form-field class="w-full">
          <mat-label>CEP</mat-label>
          <input matInput>
        </mat-form-field> -->
        
        <!-- <mat-form-field appearance="fill" class="w-full">
            <mat-label>UF</mat-label>
            <mat-select>
                <mat-option *ngFor="let vaga of vagas" [value]="vaga.value">
                {{vaga.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
        
        <!-- <mat-form-field appearance="fill" class="w-full">
            <mat-label>Cidade</mat-label>
            <mat-select>
                <mat-option *ngFor="let vaga of vagas" [value]="vaga.value">
                {{vaga.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
 
        <!-- <mat-form-field class="w-full">
          <mat-label>Celular</mat-label>
          <input matInput>
        </mat-form-field> -->
        
        <mat-form-field class="w-full">
          <mat-label>Nome Completo</mat-label>
          <input required formControlName="nome" matInput>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>E-mail</mat-label>
            <input required email formControlName="email" matInput #email>
        </mat-form-field>
        
        <mat-form-field class="w-full">
            <mat-label>Senha</mat-label>
            <input required [type]="hide ? 'password' : 'text'" formControlName="senha" matInput #senha>
            <mat-icon matSuffix class="text-gray-500" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Confirmar Senha</mat-label>
            <input required matInput type="password" #confirmar>
        </mat-form-field>


        <label>
            <span class="text-gray-400 text-xs">** opcional</span>
            <div    class="w-full p-4 rounded text-white dm-sans font-bold flex gap-2 items-center justify-center border-dashed border-2 border-primary cursor-pointer"
            [ngClass]="text == 'Upload Currículo' ? 'bg-second' : 'bg-primary'" >
                <fa-icon [icon]="faUpload"></fa-icon>
                {{text}}
            </div>
            <input type="file" name="curriculo" id="curriculo" class="hidden" (change)="showFile(file)" #file>
        </label>

        <button class="w-full justify-center items-center flex bg-primary p-3 px-5 rounded font-bold text-white mt-3 dm-sans disabled:bg-second" 
                [disabled]="!(senha.value == confirmar.value) || senha.value == '' || email.value == ''" 
                (click)="registrarUsuario()"
                >
            Enviar dados
        </button>




    </form>

</section>
