<div class="w-full flex justify-around">
    <div class="w-full h-80 rounded bg-white drop-shadow-lg p-8 relative flex flex-col lg:w-5/12 lg:h-72">
        <div class="dm-sans text-lg">
            <span class="font-mono text-primary text-5xl relative top-4">"</span>
            Serviço impressionante da CondadoRH. Eles realmente se importam, fornecem orientação valiosa e combinam com você com ótimas oportunidades de trabalho. Muito satisfeito!
        </div>
        <div class="flex items-center gap-2 pt-8">
            <div class="w-8 h-8 bg-primary rounded-full img-bg overflow-hidden">
                <img src="../../../../assets/perfil-sarah.png" alt="">
            </div>
            <span>Sarah Silva</span>
        </div>
    </div>
    <div class="hidden h-80 lg:block w-full lg:w-5/12">
        <div class="w-full h-80 rounded bg-white drop-shadow-lg p-8 relative flex flex-col lg:w-full lg:h-72">
            <div class="dm-sans text-lg">
                <span class="font-mono text-primary text-5xl relative top-4">"</span>
                A CondadoRH é excelente! Responsivo, experiente e vai além para ajudá-lo a encontrar o emprego perfeito. Altamente recomendado!        
            </div>
            <div class="flex items-center gap-2 pt-8">
                <div class="w-8 h-8 bg-primary rounded-full img-bg overflow-hidden">
                    <img src="../../../../assets/perfil-pedro.png" alt="">
                </div>
                <span>Pedro Santos</span>
            </div>
        </div>
    </div>
</div>
