<div class="w-full flex justify-around">
    <div class="w-full h-80 rounded bg-white drop-shadow-lg p-8 relative flex flex-col lg:w-5/12 lg:h-72">
        <div class="dm-sans text-lg">
            <span class="font-mono text-primary text-5xl relative top-4">"</span>
            Experiência, competência, dedicação e capacidade de entender as nossas reais necessidades são características que sempre pude perceber nas diversas vezes com a empresa.        
        </div>
        <div class="flex items-center gap-2 pt-8">
            <div class="w-8 h-8 bg-primary rounded-full img-bg"></div>
            <span>Wanessa Souza</span>
        </div>
    </div>
    <div class="hidden h-80 lg:block w-full lg:w-5/12">
        <div class="w-full h-80 rounded bg-white drop-shadow-lg p-8 relative flex flex-col lg:w-full lg:h-72">
            <div class="dm-sans text-lg">
                <span class="font-mono text-primary text-5xl relative top-4">"</span>
                Experiência, competência, dedicação e capacidade de entender as nossas reais necessidades são características que sempre pude perceber nas diversas vezes com a empresa.        
            </div>
            <div class="flex items-center gap-2 pt-8">
                <div class="w-8 h-8 bg-primary rounded-full img-bg"></div>
                <span>Wanessa Souza</span>
            </div>
        </div>
    </div>
</div>
