<footer class="py-16 px-6 bg-primary flex flex-col lg:flex-row lg:justify-between lg:items-center lg:px-44 lg:py-8 relative">
    <div>
        <img src="./assets/logo/logo_sug_negative.svg" alt="logo negativa Condado RH" class="h-10 cursor-pointer" routerLink="">
        <div class="flex flex-col text-purple-50 dm-sans pt-8 pb-8 lg:pb-0 gap-3">
            <span>©2023 Condado RH.</span>
            <span>Todos os direitos reservados.</span>
        </div>
    </div>
    <div class="flex gap-10">
        <a target="_blank" href="https://www.instagram.com/condadorh/"><fa-icon class="text-purple-50 text-2xl" [icon]="faInstagram"></fa-icon></a>
        <a target="_blank" href="https://www.linkedin.com/company/condado-rh/"><fa-icon class="text-purple-50 text-2xl" [icon]="faLinkedinIn"></fa-icon></a>
    </div>
</footer>
