<div class="flex flex-col dm-sans w-full">
    <div class="p-8 rounded-lg drop-shadow-md bg-white dm-sans">
        <div class="grid grid-cols-2">
            <div>
                <div class="pb-7">
                    <p class="pb-1">Cargo</p>
                    <p class="font-black">{{ cargo }}</p>
                </div>
                <div class="pb-7">
                    <p class="pb-1">Localidade</p>
                    <p class="font-black">{{ localidade }}</p>
                </div>
            </div>
            <div class="absolute right-10 text-xl">
                <fa-icon (click)="share()" [icon]="faShareSquare" class="text-primary"></fa-icon>
            </div>
        </div>
        <div class="flex">
            <div class="w-1/2 pb-7">
                <p class="pb-1">Disponibilidade</p>
                <p class="font-black">{{ disponibilidade }}</p>
            </div>
            <div class="w-1/2 pb-7">
                <p class="pb-1">Modalidade</p>
                <p class="font-black text-primary" >{{ modalidade }}</p>
            </div>
        </div>
        <button (click)="openSobreVaga()" class="w-full justify-center flex bg-second p-3 px-5 rounded font-black text-white">
            Mais detalhes
        </button>
        <button (click)="openCandidaturaEfetuada()" class="w-full justify-center flex bg-primary p-3 px-5 rounded font-black text-white mt-3">
            Me candidatar
        </button>
    </div>
</div>
