<section class="w-full bg-purple-50 overflow-hidden relative pb-20 pt-36 px-6 lg:px-44">


        <h3 class="poppins font-bold text-3xl pb-4">Vagas de emprego</h3>
        <span class="pb-8 dm-sans">
            Se você não encontrou sua vaga, então cadastre-se em nosso site. <a routerLink="/cadastro" class="font-bold text-primary">Clique aqui</a> 
        </span>

        <div class="w-full h-auto flex flex-col gap-5 py-8 lg:py-16 lg:grid lg:grid-cols-3">

            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            <app-vaga></app-vaga>
            
        </div>





</section>
