<h3 mat-dialog-title align="center">{{data.titulo}}</h3>
<div mat-dialog-content class="dm-sans">

    <p class="text-center">{{data.text}}</p>

</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close >Fechar</button>
</div>

<!--

    1. Recrutamento e seleção: Identificação e atração de talentos qualificados para atender às necessidades específicas de uma organização. Isso pode envolver a criação de descrições de cargos, triagem de currículos, realização de entrevistas e avaliação de candidatos.

    2. Avaliação de competências: Realização de avaliações e testes para determinar as habilidades, conhecimentos e competências dos funcionários, a fim de alinhar adequadamente os talentos às funções e responsabilidades corretas.

    3. Desenvolvimento de carreira: Planejamento e implementação de programas de desenvolvimento profissional para ajudar os funcionários a aprimorar suas habilidades, adquirir novos conhecimentos e avançar em suas carreiras dentro da organização.

    4. Treinamento e capacitação: Identificação das necessidades de treinamento da organização e criação de programas personalizados para melhorar as habilidades e o desempenho dos funcionários em áreas específicas.

-->